@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
}

body{
    background-color: #100e17;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 130px; /* Padding ต้นฉบับ */
    margin: 0px 3rem;
    border-bottom: 1px solid #32373d;
    position: sticky;
    top: 0; 
    z-index: 1000; 
    background-color: #100e17; 
    transition: padding 0.3s ease; /* เปลี่ยนแปลงการเปลี่ยนแปลง padding */
}

.navbar.scrolled {
    padding: 30px 130px; /* ลด padding ลง 20 px */
}

.navbar .logo{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.navbar .logo a{
    font-size: 28px;
    color: #fff;
}

.navbar ul{
    display: flex;
    padding-right: 1rem;
}

.navbar ul li{
    padding: 10px;
}

.navbar ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: .3s ease;
}

.navbar ul li a span{
    background-color: #20c997;
    padding: 10px 10px;
    margin: 0 -5px;
    border-radius: 5px;
    color: #fff;
    transition: .3s ease;
}

.navbar ul li a.active {
    color: #20c997; 
}

.navbar ul li a.active span {
    color: #fff; 
}

.navbar ul li a:hover {
    color: #20c997;
}

.navbar ul li a:hover span{
    background-color: #ffffff;
    color: #20c997;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0; /* เพิ่มระยะด้านบนและล่าง */
}

.home {
    color: white;
    padding: 50px 0;
    text-align: center;
}

.intro {
    max-width: 600px; /* จำกัดความกว้าง */
    
}

.intro .halo{
    background-color: #20c997;
    padding: 10px;
    font-size: 18px;
    max-width: 80px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

.intro h1 {
    font-size: 3em;
}

.intro h2 {
    text-align: left;
    font-size: 2em;
    margin: 10px 0;
    color: #20c997;
}

.intro p {
    margin: 20px 0;
}

.social{
    text-align: left;
}

.social li a{
    color: #fff;
    font-size: 18px;
    transition: .3s ease;
}

.social li a:hover{
    color: #20c997;
}

.social li a .fa{
    color: white; 
    padding: 10px;
}

.social li a span .fa{
    color: #20c997;
}

.btn {
    background: #20c997;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    transition: .3s ease;
    display: inline-block;
    position: relative;
    top: 20px; 
    font-weight: 500;
}

.btn:hover {
    background: #fff;
    color: #20c997;
}

.profile-img img {
    width: 400px;
    height: 400px;
    border-radius: 50%; /* ทำให้เป็นรูปวงกลม */
    border: 3px solid #ffffff;
    box-shadow: 2px 2px 20px 5px rgba(32, 201, 151, 0.1);
}


/* section work */
.work {
    padding: 50px 0;
    background-color: #100e17;
    color: white;
    margin-top: 1rem;
}

.container-work {
    width: 90%;
    max-width: 1200px; 
    margin: auto; 
    text-align: center;
}

.separator-title {
    margin-bottom: 50px; 
    font-size: 2em;
    color: #fff; 
}

.separator-content {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 42%; 
    text-align: left; 
    padding: 20px; 
    background-color: #1f1e24;
    border-radius: 8px; 
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.column h3 {
    font-size: 2em; 
    color: #fff; 
    margin-bottom: 20px; 
    text-align: center;
}

.work-item {
    margin-bottom: 20px; /* ระยะห่างระหว่างรายการ */
    border-top: 1px solid #333041;
}

.work-item h4 {
    font-size: 1.5em; /* ขนาดตัวอักษรสำหรับหัวข้อรายการ */
    color: #20c997; /* สีของหัวข้อรายการ */
    margin-bottom: 10px; /* ระยะห่างด้านล่าง */
    margin-top: 10px;

}

.work-item p {
    font-size: 1em; /* ขนาดตัวอักษรสำหรับเนื้อหา */
    margin-bottom: 1rem;
}

.workBtn{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #20c997;
    color: #fff;
    transition: .3s ease;
    
}

.workBtn:hover{
    background-color: #fff;
    color: #20c997;
}

/* footer */
.footer{
    background-color: #32373d;
    padding: 20px;
}.footer p{
    color: #fff;
    text-align: center;
}

